// .selectmodule {
//     width: 50%;
//     border-radius: 3px;
//     border-color: lightgrey;
//     margin-left: 50%;
// }
.btnspace {
    margin-left: 20px;
}

table {
    width: 100%;
}

.exam {
    width: 90%;
    border: 1px solid lightgrey;
}

.totalQue {
    margin-left: 70%;
}

.time {
    bottom: 80%;
}

.takentime {
    margin-left: 75%;
}

.btnspace {
    margin-left: 20px;
}