.admin-detail {
    background-color: white;
    padding-top: 20px;
    margin-left: 15px
}

::placeholder {
    color: grey;
}

.progress-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.text-field {
    border: 1px solid lightgrey;
    width: 100%;
}

textarea {
    width: 100%;
    border: 1px solid lightgrey;
}

.image-btn {
    background-color: rgb(66, 66, 189);
    color: white;
    padding: 0.5rem;
    margin-right: 10px;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
}

.alert-message {
    color: red;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none !important;
}

input.ng-invalid.ng-touched {
    border: 2px solid lightcoral;
    // border-left: 5px solid red;
}

textarea.ng-invalid.ng-touched {
    border: 2px solid lightcoral;
    // border-left: 5px solid red;
}

input.ng-valid {
    border: 2px solid lightgreen;
    // border-left: 5px solid green;
}

textarea.ng-valid {
    border: 2px solid lightgreen;
    // border-left: 5px solid green;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}