<h2 class="mt-4 ml-4">
    <mat-icon>perm_media</mat-icon> | {{tabHeader}}
</h2>

<div style="background-color: white;" class="mt-4 ml-4">
    <mat-tab-group *ngIf="chooseOption" mat-stretch-tabs #tabGroup [(selectedIndex)]='selectedIndex' animationDuration="1000ms">
        <mat-tab label="{{'add-course.text.courseDetail' | translate}}">
            <app-course-detail *ngIf="[0,1,2,3].includes(selectedIndex)"></app-course-detail>
        </mat-tab>
        <mat-tab label="{{'add-course.text.selectModule' | translate}}" disabled='{{enableCourseModule}}'>
            <app-course-module *ngIf="[1,2,3].includes(selectedIndex)"></app-course-module>
        </mat-tab>
        <mat-tab label="{{'add-course.text.courseExam' | translate}}" disabled='{{enableCourseExam}}'>
            <app-course-exam *ngIf="[2,3].includes(selectedIndex)"></app-course-exam>
        </mat-tab>
        <mat-tab label="{{'add-course.text.preRequisite' | translate}}">
            <app-pre-requisite-courses *ngIf="[3].includes(selectedIndex)"></app-pre-requisite-courses>
        </mat-tab>
    </mat-tab-group>
    <mat-tab-group *ngIf="!chooseOption" mat-stretch-tabs #tabGroup [(selectedIndex)]='selectedIndex' animationDuration="1000ms">
        <mat-tab label="{{'add-course.text.ucourseDetail' | translate}}">
            <app-course-detail *ngIf="[0,1,2,3].includes(selectedIndex)"></app-course-detail>
        </mat-tab>
        <mat-tab label="{{'add-course.text.uselectModule' | translate}}">
            <app-course-module *ngIf="[1,2,3].includes(selectedIndex)"></app-course-module>
        </mat-tab>
        <mat-tab label="{{'add-course.text.ucourseExam' | translate}}">
            <app-course-exam *ngIf="[2,3].includes(selectedIndex)"></app-course-exam>
        </mat-tab>
        <mat-tab label="{{'add-course.text.uprequisite' | translate}}">
            <app-pre-requisite-courses *ngIf="[3].includes(selectedIndex)"></app-pre-requisite-courses>
        </mat-tab>
    </mat-tab-group>
</div>