table {
    width: 100%;
}

.search-field {
    border: 1px solid lightgrey;
}

.progress-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.action-icon {
    cursor: pointer;
}