<div class="course-module">
    <div class="container">

        <h1 class="mt-3">{{'course-module.text.Course' | translate}}</h1>
        <div *ngIf="headerName === 'add' ? false : true;">
            <div class="progress-spinner" *ngIf="isLoadingResults">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div *ngFor='let cModule of moduleDetail; index as i;'>
                    {{cModule.ModuleName}}
                    <mat-icon matTooltip="Delete" matTooltipPosition="above" matTooltipClass="custom-tooltip" (click)='deleteModule(i)' class="remove-icon">delete_outline</mat-icon>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="pl-3 py-2 text-field mr-2" [(ngModel)]="moduleName" matInput [formControl]="myControl" [matAutocomplete]='auto' placeholder="{{'course-module.text.search' | translate}}">
                <mat-autocomplete #auto='matAutocomplete' [displayWith]="displayFn">
                    <mat-option *ngFor='let cModule of filteredOptions | async' [value]='cModule.ModuleName' (click)='selectedValue(moduleName)'>{{cModule.ModuleName}}</mat-option>
                </mat-autocomplete>
            </div>
            <div class="col-md-6">
                <br>
                <label>{{'course-module.text.estimatedTime' | translate}}: {{totalEstimatedTime}}{{'course-module.text.min' | translate}}</label>
            </div>
        </div>
    </div>
    <br>
    <button type="submit" mat-raised-button color="primary" (click)="onSave()" class="mx-3">{{'course-module.text.Save' | translate}}</button>
    <button type="reset" mat-raised-button color="warn" (click)='onCancel()'>{{'course-module.text.Cancel' | translate}}</button>
</div>