<h2 class="ml-4 mt-4">
    <mat-icon>perm_media</mat-icon> | {{'admin.text.title' | translate}}</h2>
<div class="progress-spinner" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<div class="manage-admin">
    <div>
        <input type="search" placeholder="{{'admin.text.search' | translate}}" (keyup)="search($event)" class="m-3 p-2 pl-3 search-field">
        <a title="add admin" routerLink='./add-admin'><button mat-raised-button class="m-3 pl-2 mr-5" color="primary" style="float: right;"><mat-icon>add</mat-icon>{{'admin.text.abtn' | translate}}</button></a>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <ng-container matColumnDef="srNo">
            <th mat-header-cell *matHeaderCellDef class="table-heading" mat-sort-header> {{'admin.text.srno' | translate}} </th>
            <td mat-cell *matCellDef="let element; index as i"> {{i + 1 + (paginator.pageIndex * paginator.pageSize)}} </td>
        </ng-container>

        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef class="table-heading" mat-sort-header> {{'admin.text.fname' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef class="table-heading" mat-sort-header> {{'admin.text.lname' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="table-heading" mat-sort-header> {{'admin.text.email' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="adminType">
            <th mat-header-cell *matHeaderCellDef class="table-heading" mat-sort-header> {{'admin.text.admin_type' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.adminType==0?'System Admin':''}} </td>
        </ng-container>

        <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef class="table-heading" mat-sort-header> {{'admin.text.status' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.isActive==1?'Active':'InActive'}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="table-heading"> {{'admin.text.action' | translate}} </th>

            <td mat-cell *matCellDef="let element; index as i;">

                <mat-icon class="mr-1 action-icon" matTooltip="Edit" matTooltipPosition="above" matTooltipClass="custom-tooltip" [routerLink]="['edit', element._id]" routerLinkActive="router-link-active">edit</mat-icon>
                <mat-icon class="action-icon" matTooltip="Delete" matTooltipPosition="above" matTooltipClass="custom-tooltip" (click)="deleteAdmin(element._id)">delete_outline</mat-icon>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]='length' [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
</div>
<router-outlet></router-outlet>