<mat-nav-list>
  <ul>
  <li>
    <a mat-list-item routerLink="/dashboard" class="active" >
        <span class="menuicon">
        <a mat-icon-button><button mat-icon-button >
        <i class="material-icons">assessment</i></button>
        <span  class="menuicons">
            Dashboard
        </span> 
    </a>
</span>
</a>
</li>
  <li>
    <a mat-list-item routerLink="/manage-admin" class="active" >
        <span class="menuicon">
        <a mat-icon-button><button mat-icon-button >
        <i class="material-icons">how_to_reg</i></button>
        <span  class="menuicons">
          Manage Admin
        </span> 
    </a>
</span>
</a>
</li>
  <li>
    <a mat-list-item routerLink="/manage-chapter" class="active" >
        <span class="menuicon">
        <a mat-icon-button><button mat-icon-button >
        <i class="material-icons">auto_stories</i></button>
        <span  class="menuicons">
          Manage Chapter
        </span> 
    </a>
</span>
</a>
</li>
  <li>
    <a mat-list-item routerLink="/manage-module" class="active" >
        <span class="menuicon">
        <a mat-icon-button><button mat-icon-button >
        <i class="material-icons">add_to_photos</i></button>
        <span  class="menuicons">
          Manage Module
        </span> 
    </a>
</span>
</a>
</li>
  <li>
    <a mat-list-item routerLink="/manage-course" class="active" >
        <span class="menuicon">
        <a mat-icon-button><button mat-icon-button >
        <i class="material-icons">fiber_new</i></button>
        <span  class="menuicons">
          Manage Course
        </span> 
    </a>
</span>
</a>
</li>
  <li>
    <a mat-list-item routerLink="/manage-user" class="active" >
        <span class="menuicon">
        <a mat-icon-button><button mat-icon-button >
        <i class="material-icons">supervised_user_circle</i></button>
        <span  class="menuicons">
          Manage User
        </span> 
    </a>
</span>
</a>
</li>
  <li>
    <a mat-list-item routerLink="/manage-contact" class="active" >
        <span class="menuicon">
        <a mat-icon-button><button mat-icon-button >
        <i class="material-icons">contacts</i></button>
        <span  class="menuicons">
          Manage Contact
        </span> 
    </a>
</span>
</a>
</li>
</ul>
</mat-nav-list>
