:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
ul{
    list-style-type: none;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

mat-drawer {
    // width: 200px;
}

mat-drawer-container {
    height: 100%;
    width: 100%;
}

img {
    // width: 120px;
    height: 50px;
    padding: 0pc 6px;
}

.icon {
    width: 100%;
    height: 100%;
}

.spacer {
    height: 20px;
}

.logo {
    background-color: #f3f4f5;
    padding: 7px 0px;
}

.logoicon {
    background-color: #f3f4f5;
    padding: 12px 14%;
}

.menuicon {
    top: 18px;
    height: 48px;
    width: 48px;
    // padding: 0% 14%;
}

mat-nav-list {
    padding-top: 0px;
}

.menubtnicon {
    background-color: #fff;
}

app-footer {
    top: 10px
}
// mat-drawer-container{
//     display: inline;
// }